/* Elements */
section {
    display: block;
    margin: 31px 0px 104px 0px;
    box-sizing: content-box;
    border-top: 60px solid #49a37b;
}
form {
    width: 80%;
    max-width: 276px;
    height: 562px;
    margin: 15px 0px 15px 10%;
}
form span {
    visibility: hidden;
    font-style: italic;
    font-size: 12px;
    margin: 5px 0px 5px 0px;
}
div.valid > input, div.valid > span{
    color: #aace9b;
    border-color: #49a37b
}
div.invalid > input, div.invalid > span {
    visibility: visible;
    color: red;
    border-color: red;
}
/* Classes */
.im-trackgenix-item-p {
    display: inline-block;
    width: 80%;
}
.flex-container-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.what-why-img {
    width: 30%;
    min-width: 50px;
    max-width: 100px;
    margin-right: 15px;
}
.flex-container-whatwhy-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    max-width: 326px;
}
.flex-container-whatwhy-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 40px;
}
.flex-container-about-us-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about-us-item-p , .about-us-item-img {
    display: inline-block;
    width: 80%;
    margin: 20px auto 20px auto;
}
.contact-info-img {
    width: 30%;
    min-width: 50px;
    max-width: 80px;
    margin-right: 15px;
}
.contact-info-div {
    display: flex;
    justify-content: center;
    margin: 20px 0px 20px 0px;
}
.flex-container-contact-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-container-contact-info-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    margin-left: 10%;
}
.shortcuts-list {
    width: 60%;
    text-align: left;
    margin-top: 20px;
    
}

/* ID's */
#homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin-bottom: 0px;
    background-image: url("../assets/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#homepage-img {
    width: 300px;
    height: 400px;
}
#im-trackgenix {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0px;
}
#im-trackgenix-left , #im-trackgenix-rigt {
    width: 80%;
    align-self: center;
    margin-top: 40px;
}
#im-trackgenix-left {
    max-width: 360px;
}
#im-trackgenix-img {
    display: inline-block;
    width: 80%;
    max-width: 460px;
}
#about-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#numbers-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#shortcuts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-bottom: 110px solid #ffffff;
    margin-left: 5%;
}

/* MQ */
@media screen and (min-width: 480px) {
    form {
        width: 35%;
    }
    .shortcuts-list {
        width: 30%;
    }
    .about-us-item-p {
        width: 70%;
    }
    .about-us-item-img {
        width: 25%;
    }
    .flex-container-about-us-div {
        flex-wrap: nowrap;
    }
    .flex-container-contact-us {
        justify-content: space-between;
    }
    .flex-container-contact-info-div {
        width: 40%;
        margin-right: 5%;
    }
    #im-trackgenix {
        justify-content: space-around;
    }
    #im-trackgenix-left , #im-trackgenix-rigt , .flex-container-whatwhy-div {
        width: 45%;
    }
    #about-us-item-p-right {
        order: 1;
    }
    #shortcuts {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
    }
}
