/* ELEMENTS  */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 31px 0px 104px 0px;
    box-sizing: content-box;
    border-top: 60px solid #49a37b;
}
form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}
h1 {
    color: #373867;
    margin-top: 30px;
    margin-bottom: 30px;
}
label {
    font-size: 24px;
}
span {
    margin: 5px 0px 30px 0px;
}
span.invalid {
    visibility: visible;
    font-style: italic;
    font-size: 10px;
}
/* CLASSES */
.sign-up-column {
    width: 40%;
    margin: 0px 0px 15px 0px;
}
.sign-up-form-field {
    padding: 15px 0 15px 0px;
}

.invalid {
    color: red;
    border-color: red;
}