<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix - Log In</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/login.css">
    <script src="../javascript/login.js"></script>
</head>
<body>
    <header>
        <img id="burguer-icon" src="../assets/burguer-icon.jpg" alt="Three horizontal lines">
        <img id="logo-icon" src="../assets/logo.png" alt="Small logo of a shield with a watch inside">
        <a href="./sign-up.html">Sign Up</a>
    </header>
    <main>

    </main>
    <footer>
        <div>
            <a href="https://ar.linkedin.com/" target="_blank">
                <img src="../assets/linkedin.svg" alt="linkedin-icon">
            </a>
            <a href="https://twitter.com/" target="_blank">
                <img src="../assets/twitter.svg" alt="twitter-icon">
            </a>
            <a href="https://es-la.facebook.com/" target="_blank">
                <img src="../assets/facebook.svg" alt="facebook-icon">
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <img src="../assets/instagram.svg" alt="instagram-icon">
            </a>
            <a href="https://github.com/" target="_blank">
                <img src="../assets/githab.svg" alt="git-hub-icon">
            </a>
        </div>
        <p>Rosario, Argentina</p>
        <p>Copyright © 2022 Trackgenix S.A. All rights reserved.</p>
    </footer>
</body>
</html>