<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trackgenix - Sign Up</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/sidebar.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/sign-up.css">
    <script src="../javascript/sign-up.js"></script>
</head>
<body>
    <header>
        <img id="burguer-icon" src="../assets/burguer-icon.jpg" alt="Three horizontal lines">
        <img id="logo-icon" src="../assets/logo.png" alt="Small logo of a shield with a watch inside">
        <a href="./sign-up.html">Sign Up</a>
    </header>
    <aside>
        <nav>
            <div>Shortcuts</div>
            <ul>
                <li>
                    <a href="./landing.html">Homepage</a>
                </li>
                <li>
                    <a href="./login.html">Login</a>
                </li>
            </ul>
        </nav>
    </aside>
    <main>
        <h1>Create a new account</h1>
        <form action="">
            <div class="signup-name-valid signup-name-invalid">
                <label for="signup-name">Name</label>
                <input type="text" name="signup-name" id="signup-name" placeholder="Click on me to write">
                <p>Invalid name. They must be more than 3 characters, and not include numbers or symbols.</p>
            </div>
            <div class="signup-lastname-valid signup-lastname-invalid">
                <label for="signup-lastname">Last Name</label>
                <input type="text" name="signup-lastname" id="signup-lastname" placeholder="Click on me to write">
                <p>Invalid last-name. They must be more than 3 characters, and not include numbers or symbols.</p>
            </div>
            <div class="signup-dni-valid signup-dni-invalid">
                <label for="signup-dni">DNI</label>
                <input type="number" name="signup-dni" id="signup-dni" placeholder="Click on me to write">
            </div>
            <div class="signup-birthday-valid signup-birthday-invalid">
                <label for="signup-birthday">Birthday date</label>
                <input type="date" name="signup-birthday" id="signup-birthday" placeholder="Click on me to write">
            </div>
            <div class="signup-phnum-valid signup-phnum-invalid">
                <label for="signup-phnum">Phonenumber</label>
                <input type="number" name="signup-phnum" id="signup-phnum" placeholder="Click on me to write">
            </div>
            <div class="signup-hometown-valid signup-hometown-invalid">
                <label for="signup-hometown">Hometown</label>
                <input type="text" name="signup-hometown" id="signup-hometown" placeholder="Click on me to write">
            </div>
            <div class="signup-poscode-valid signup-poscode-invalid">
                <label for="signup-poscode">Postal code</label>
                <input type="number" name="signup-poscode" id="signup-poscode" placeholder="Click on me to write">
            </div>
            <div class="signup-email-valid signup-email-invalid">
                <label for="signup-email">Email</label>
                <input type="email" name="signup-email" id="signup-email" placeholder="Click on me to write">
            </div>
            <div class="signup-pwd-valid signup-pwd-invalid">
                <label for="signup-pwd">Password</label>
                <input type="password" name="signup-pwd" id="signup-pwd" placeholder="Click on me to write">
            </div>
            <div class="signup-rpwd-valid signup-rpwd-invalid">
                <label for="signup-rpwd">Repeat Password</label>
                <input type="password" name="signup-rpwd" id="signup-rpwd" placeholder="Click on me to write">
            </div>
        </form>
    </main>
    <footer>
        <div>
            <a href="https://ar.linkedin.com/" target="_blank">
                <img src="../assets/linkedin.svg" alt="linkedin-icon">
            </a>
            <a href="https://twitter.com/" target="_blank">
                <img src="../assets/twitter.svg" alt="twitter-icon">
            </a>
            <a href="https://es-la.facebook.com/" target="_blank">
                <img src="../assets/facebook.svg" alt="facebook-icon">
            </a>
            <a href="https://www.instagram.com/" target="_blank">
                <img src="../assets/instagram.svg" alt="instagram-icon">
            </a>
            <a href="https://github.com/" target="_blank">
                <img src="../assets/githab.svg" alt="git-hub-icon">
            </a>
        </div>
        <p>Rosario, Argentina</p>
        <p>Copyright © 2022 Trackgenix S.A. All rights reserved.</p>
    </footer>
</body>
</html>