/* global */
* {
    box-sizing: border-box;
}
/* elements */
body {
    background-color: #aace9b;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #373867;
}
body > main {
    width: 1140px;
    margin-left: 300px;
    background-color: #ffffff;
}
header {
    position: fixed;
    display: block;
    width: 100%;
    height: 91px;
    top: 0;
    margin: 0;
    background-color: #373867;
}
header img {
    display: inline;
    width: 45px;
    height: 61px;
    margin: 15px auto 15px 40%;
}
header a {
    display: inline;
    float: right;
    width: 65px;
    padding: 1px 3px;
    margin: 29px 28px 0 30%;
    box-sizing: content-box;
    top: 29px;
    right: 28px;
    background-color: #aace9b;
    border-radius: 5px;
    line-height: 34px;
}
aside {
    position: fixed;
    width: 300px;
    top: 0;
    margin-top: 91px;
    background-color: #aace9b;
    text-align: left;
}
nav div {
    padding-bottom: 30px;
    margin: 70px 96px 13px 32px;
    border-bottom: 3px solid #373867;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
nav li {
    float: center;
    width: 241px;
    bottom: 50%;
    padding: 6px;
    margin: 0px 35px 23px 32px;
    background-color: #ffffff;
    box-shadow: 0px 3px 0px #373867;
}
nav li a {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #373867;
}
a, a:active, a:hover {
    text-decoration-line: none;
    color: #373867;
}
footer {
    display: block;
    position: fixed;
    width: 100%;
    height: 104px;
    bottom: 0;
    background-color: #373867;
}
footer img {
    height: 90%;
}
footer > div {
    width: 216px;
    height: 32px;
    margin: 10px 612px 2px 612px;
}
footer p {
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    color: #aace9b;
}
section {
    display: block;
    height: 835px;
    margin: 91px 0px 104px 0px;
    box-sizing: content-box;
    border-bottom: 60px solid #49a37b;
}
h1 {
    position: absolute;
    width: 245px;
    height: 47px;
    left: 745px;
    top: 224px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    line-height: 47px;
    text-transform: uppercase;
    color: #ffffff;
}
section > img {
    width: 448px;
    height: 472px;
    margin: 182px 346px 180px 346px;
}
h2 {
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
}
h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
}
div>h3 {
    font-size: 26px;
}
section>h3 {
    padding: 30px;
    text-align: center;
}
section>div>p {
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
}
section>div>div>p {
    padding: 3px;
    font-size: 20px;
}
form {
    width: 260px;
    height: 562px;
    margin-left: 140px;
}
form , .contact-info-div {
    display: inline-block;
}
label {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 500 medium;
    line-height: 16px;
}
input , select , textarea {
    width: 100%;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin-bottom: 30px;
    border: 2px solid #373867;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
textarea {
    height: 100px;
}
span {
    display: block;
}
h4 {
    padding: 5px;
    font-size: 30px;
    font-weight: 700;
}
ol {
    list-style-type: decimal;
    list-style-position: inside;
}
/* classes */
.im-trackgenix-div {
    display: inline-block;
    width: 366px;
    height: 678px;
    margin-top: 75px;
}
.subtitle {
    width: 366px;;
    padding-top: 3px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: rgba(55, 56, 103, 0.7);
}
.im-trackgenix-p {
    width: 366px;
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.ww-div {
    display: inline-block;
    width: 438px;
    height: 100px;
    margin: 70px 56px 30px 36px;
}
.ww-el {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.ww-el-t {
    display: inline-block;
    width: 326px;
    height: 92px;
    text-align: left;
}
.au-el , .au-el-t {
    display: inline-block;
    margin: 81px 66px 0px 30px;
}
.au-el-t {
    width: 626px;
    height: 250px;
    text-align: left;
}
.au-el {
    width: 364px;
}
.contact-info-div {
    float: right;
    width: 426px;
    height: 424px;
    margin: 69px 30px 69px 170px;
}
.contact-info {
    width: 426px;
    height: 92px;
}
.contact-info>img {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.contact-info>address {
    display: inline-block;
    width: 75%;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 18px;
}
.submit {
    margin: 10px 0px 10px 0px;
    background-color: #aace9b;
}
.shortcuts-list {
    display: inline-block;
    width: 200px;
    margin: 30px 60px 80px 60px;
    text-align: left;
}
.shortcuts-list a {
    font-size: 20px;
}
/* IDS */
#homepage {
    margin-bottom: 0px;
    background-image: url("../img/background-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#im-trackgenix {
    display: inline-block;
    width: 1140px;
    height: 780px;
    margin: 0px;
}
#title-im-track {
    width: 30%;
}
#im-trackgenix>div {
    float: left;
    width: 438px;
    margin: 50px 11px 0px 100px;
}
#im-trackgenix-first-p {
    margin-top: 45px;
}
#im-trackgenix-first-p, #im-trackgenix-title {
    width: 366px;
}
#what-why , #about-us , #contact-us , #shortcuts {
    margin: 0px;
}
#what-why-title {
    margin-top: 30px;
    margin-bottom: 30px;
}
#au-el-r , #au-el-t-r {
    margin: 81px 30px 0px 0px;
    text-align: right;
}
#contact-us {
    height: 707px;
    border: none;
    text-align: left;
}
#phone-num {
    margin: 80px 0px;
}
#shortcuts {
    width: 1050px;
    height: 295px;
    margin-left: 45px;
    border: none;
    border-top: 3px solid rgba(0 , 0 ,0 , 50%);
}
#shortcuts-first-list {
    margin-left: 100px
}