/* global */
* {
    font-family: 'Roboto', sans-serif;
}

/* body backgrounds and main */
body {
    background-color: #aace9b;
}
body > main {
    background-color: #ffffff;
    width: 80%;
    margin-left: 20%;
}

/* layout - done */
header.layout {
    background-color: #373867;
    position: fixed;
    width: 100%;
    height: 10%;  
    display: block;
    top: 0;
    margin: 0;
    z-index: 3;
}
header img {
    width: 5%;
    height: 75%;
    margin: 5px auto 5px 48%;
    display: inline;
}
header .button {
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 10px 10px 10px 30%;
    background-color: #aace9b;
    border-width: 2px;
    border-radius: 5px;
    border-color: #000000;
    display: inline;
}
aside.layout {
    width: 20%;
    padding: 3% 0% 70% 0%;
    overflow: hidden;
    background-color: #aace9b;
    margin-top: 50px;
    margin-bottom: auto;
    position: fixed;
    z-index: 2;
}
footer.layout {
    background-color: #373867;
    width: 100%;
    height: 10%;
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 3;
}
footer img {
    height: 90%;
}
footer #social-media-bar {
    margin: 2px auto 2px 43%;
}
footer p {
    font-size: 10px;
    text-align: center;
}

/* buttons and more = b&m */

/* b&m - section settings */
section {
    display: block;
    border-bottom: #49a37b;
    border-style: solid;
    border-width: 0px 0px 30px 0px;
}

/* b&m - a states - done */
a, a:active, a:hover {
    text-decoration-line: none;
    color: #000000;
}

/* b&m - nav bar - done */
nav div {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}
nav li {
    float: center;
    padding: 2%;
    margin: 2%;
    background-color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
}
nav li a {
    color: #000000;
    font-size: 14px;
    font-weight: medium;
}

/* b&m - h & p settings */
h1 {
    text-transform: uppercase;
    font-style: bold;
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 30px;
    font-style: bold;
    padding: 10px;
    text-align: center;
}
h3 {
    font-size: 24px;
    font-style: bold;
}
h4 {
    font-size: 18px;
    font-style: bold;
    padding: 5px;
}
h2#title-im-track {
    width: 30%;
}
section>h3 {
    text-align: center;
    padding: 30px;
}
.subtitle {
    font-size: 20px;
    padding-top: 3px;
}
section>div>p {
    font-size: 16px;
    padding: 5px;
    width: 30%;
}
section>div>div>p {
    font-size: 14px;
    padding: 1px;
}
.shortcuts-list a {
    font-size: 12px;
}

/* b&m - ww settings - done */
.ww-div {
    display: inline-block;
    width: 45%;
    padding: 2.5% 0 2.5% 0;
}
.ww-el {
    display: inline-block;
    width: 18%;
}
.ww-el-t {
    display: inline-block;
    width: 50%;
}

/* b&m - au settings - done */
.au-el , .au-el-t {
    display: inline-block;
    padding-bottom: 30px;
}
.au-el-t {
    width: 50%;
    margin-left: 5%;
}
.au-el {
    width: 28%;
    margin-left: 8%;
}
#au-el-r , #au-el-t-r {
    float: right;
    text-align: right;
}
#au-el-r {
    margin-left: 0px;
    margin-right: 8%
}
#au-el-t-r {
    margin-left: 0px;
    margin-right: 5%;
}

