/* Elements */
footer {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 104px;
    bottom: 0;
    background-color: #373867;
}
footer img {
    height: 90%;
}
footer p {
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    color: #aace9b;
}

/* ID's */
#social-media-bar {
    width: 216px;
    height: 32px;
}