/* global */
* {
    box-sizing: border-box;
}

/* Elements */
body {
    background-color: #aace9b;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #373867;
}
body > main {
    background-color: #ffffff;
}
h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 37px;
    text-transform: uppercase;
    color: #ffffff;
}
h2 {
    padding: 10px;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
}
h3 {
    padding: 30px;
    font-size: 40px;
    font-weight: 700;
    line-height: 30px;
}
label {
    display: block;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
}
input , select , textarea {
    width: 100%;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
    margin-bottom: 30px;
    border: 2px solid #373867;
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
textarea {
    height: 100px;
}
span {
    display: block;
    font-size: 14px;
}
h4 {
    padding: 5px;
    font-size: 30px;
    font-weight: 700;
}
ol {
    list-style-type: decimal;
    list-style-position: inside;
}

/* Classes */
.subtitle {
    display: inline-block;
    width: 80%;
    padding-top: 3px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: rgba(55, 56, 103, 0.7);
}
.im-trackgenix-item-p , .about-us-item-p {
    margin: 40px auto 40px auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.44px;
}
.whatwhy-item-title {
    padding: 0px;
    font-size: 26px;
    text-align: left;
}
.whatwhy-item-p {
    display: inline-block;
    width: 70%;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: left;
}
.submit {
    margin: 10px 0px 10px 0px;
    background-color: #aace9b;
}
.shortcuts-list {
    text-align: left;
}
.shortcuts-list a {
    font-size: 20px;
}

/* ID's */
#about-us-item-p-left {
    text-align: left;
}
#about-us-item-p-right {
    text-align: right;
}
#numbers-div > span {
    display: inline-block;
}

/* Breakpoints */
@media screen and (min-width: 768px) {
    body > main {
        margin-left: 30%;
    }
}
@media screen and (min-width: 1024px) {
    body > main {
        margin-left: 300px;
    }
}